.diesease_view {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    &_heading{
      color: rgb(177, 54, 38);
      font-size: 2.4rem;
      text-transform: uppercase;
    }
    // text-align: center;
    &_list {
        // text-decoration: none;
        font-size: 1.9rem;
        padding: 0;
        margin: 0;
        font-weight: 500;
        list-style: none;
        // width: 100%;
      }
      &_item:last-child{
        margin-bottom: 2rem;
      }
      &_item {
      padding: 1.2rem;
      display: flex;
      // margin: 1rem;
      // margin-right: 3rem;
      border-bottom:0.1rem solid #fff;
      &_title {
        flex: 2 1 0;
        align-self: flex-start;
      }
      &_options {
        cursor: pointer;
      }
      &_icon {
        color: #fff;
      }
    }
  }