.register {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 0;
  z-index: 0;
  position: absolute;
  align-items: center;
}
.container{
  position: relative;
}
@media (max-width: 800px) {
  .register {
    grid-template-columns: 1fr;
  }
}
.register__logo-1 {
  width: 5rem;
  height: 5rem;
  justify-content: center;
  display: block;
  align-items: center;
  margin-bottom: 2rem;
}
.container_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parallel {
  display: flex;
  justify-content: center;
}
.form_register {
  display: grid;
  grid-template-columns: [start] max-content [mid] max-content [end];
  justify-content: start;
  grid-gap: 1rem 0;
  align-items: center;
}
.part_register_1 {
  grid-column: start / mid;
  margin-right: 2rem;
}
.part_register_2 {
  grid-column: mid / end;
}
.part_register {
  grid-column: start / -1;
  width: 93%;
}
.heading_register {
  color: #131125;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}
.special {
  width: 100%;
}
.special2{
  width: 95%;
}
.extern-type {
  position: absolute;
  float: right;
  text-align: right;
  left: 8.5em;
  font-size: 12px;
  display: block;
  color: #b5b5b5;
}
.toggle-input{
  width: auto;
  padding-right:1rem;
}
.info{
  color: #131125;
  font-size: 1.4rem;
  margin: 2rem 2rem;
  font-weight: 600;
}
.fieldR {
  position: relative;
  margin-bottom: 2rem;
  width: 80%;
  height: 5rem;
  border: 1px solid #bebebe;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}
.input_textR {
  color: black;
  height: 90%;
  width: 100%;
  flex: 0 1 auto;
  align-self: center;
  font-size: 1.45em;
  outline-color: #131125;
  /* padding: 0.1em 2em; */
  border: none;
  /* border-radius: 5px; */
  background-repeat: no-repeat;
  /* background-position: right 1em top 1.25em; */
}
